<template>
  <component
    :is="layoutComponent"
    v-bind="layoutProps"
    v-if="show"
    :show-label="false">
    <template slot="field">
      <div class="form-check" :class="depends ? 'depend-checkbox' : ''">
        <label :for="field.attribute">
          <input
            :id="field.attribute"
            type="checkbox"
            v-model="fieldValue"
            class="form-check-input"
            :class="errorClasses"
            :disabled="isDisabled"
            v-bind="field.attrs"
          />
          <span class="checkmark"></span>
          <span class="label-name">{{ field.label || fieldLabel }}</span>
        </label>
        <div v-if="hasError" class="invalid-feedback">
          {{ errorMessages }}
        </div>
      </div>
    </template>
  </component>
</template>

<script>
  import { FieldMixin } from '../mixins';
  import compact from 'lodash-es/compact'
  import values from 'lodash-es/values'

  export default {
    name: 'CheckboxField',

    mixins: [FieldMixin],

    props: {
      fieldLabel: {type: String},
    },
    data() {
      return {
        show: true,
        depends: false
      }
    },
    methods: {
      handleDependentChange(attribute, value, allValues) {
        if(!value){
          value = compact(values(allValues))[0];
        }
        if(value){
          this.show = true;
          this.depends = true;
        }else{
          this.show = false;
          this.depends = true;
        }
      },
    }
  }
</script>
<style scoped>
  .depend-checkbox {
    margin-left: 1rem;
    margin-top: 15px;
  }
</style>
