<template>
  <component
    :is="layoutComponent"
    v-bind="layoutProps"
    :show-label="false">
    <template slot="field">
      <div
        v-for="(option, index) in field.options"
        :key="option.value"
        :class="radiosLayoutClass"
        class="form-check form-check-radio">
        <label
          :for="field.attribute + index"
          class="form-check-label">
            <input
            :id="field.attribute + index"
            :value="option.value"
            :disabled="isDisabled"
            v-model="fieldValue"
            type="radio"
            class="form-check-input"
            v-bind="field.attrs"/>
            <span class="checkmark"></span>
            <span class="label-name">{{ option.label }}</span>
        </label>
      </div>
    </template>
  </component>
</template>

<script>
  import { FieldMixin } from '../mixins';

  export default {
    name: 'RadiosField',

    mixins: [FieldMixin],

    props: {
      radiosLayout: {type: String},
    },

    computed: {
      radiosLayoutClass() {
        let layout = this.radiosLayout || this.field.radiosLayout;
        return `form-check-${layout}`;
      },
    }

  }
</script>
