<template>
  <component
      :is="layoutComponent"
      v-bind="layoutProps">
    <template slot="field">
      <draggable
          v-model="fieldValue"
          draggable=".form-row"
          handle=".grag_n_drop"
          @end="filledRows()">
        <div
          v-for="(fields, i) in fieldValue"
          :key="i"
          :class="{ 'single-field' : isSingleField }"
          class="form-row">
          <span class="grag_n_drop"></span>
          <template v-if="rows[i]">
            <field
                v-for="subField in rows[i].all()"
                :key="subField.attribute"
                :field="subField"
                :form="form"
                :model="model"
                :layout-class="subField.col ? `col-${subField.col}` : 'col'"
                layout="vertical"
                :repeater-index="i"
            />
          </template>
          <div v-if="!isDisabled" class="form-group flex-shrink-1">
            <label>&nbsp;</label>
            <div>
              <button
                  type="button"
                  class="btn btn-light"
                  @click.prevent="removeRow(i)">
                <i v-if="iconRemoveRow" :class="iconRemoveRow"></i>
                {{ labelRemoveRow }}
              </button>
            </div>
          </div>
        </div>
      </draggable>
      <div v-if="!isDisabled">
        <button
            type="button"
            class="btn btn-light"
            @click.prevent="addRow()">
          <i v-if="iconAddNew" :class="iconAddNew"></i>
          {{ labelAddNew }}
        </button>
      </div>
    </template>
  </component>
</template>

<script>
  import cloneDeep from 'lodash-es/cloneDeep'
  import { FieldMixin } from '../mixins'
  import FieldList from '../utils/FieldList'
  import config from "../config"
  import strings from '../strings'
  import draggable from 'vuedraggable';

  export default {
    mixins: [FieldMixin],
    components: {
      draggable
    },

    data() {
      return {
        rows: [],
      }
    },

    computed: {
      isSingleField() {
        return this.field.field;
      },
      labelAddNew() {
        let label = this.field.labelAddNew
        return label === false ? '' : (label || strings.repeater.add_label);
      },
      iconAddNew() {
        let icon = this.field.iconAddNew
        return icon === false ? '' : (icon || config.repeaterAddIcon);
      },
      labelRemoveRow() {
        let label = this.field.labelRemoveRow
        return label === false ? '' : (label || strings.repeater.remove_label);
      },
      iconRemoveRow() {
        let icon = this.field.iconRemoveRow
        return icon === false ? '' : (icon || config.repeaterRemoveIcon);
      },
      strings() {
        return strings
      }
    },
    created() {
      this.filledRows();
    },
    methods: {
      addRow() {
        if (this.isDisabled) {
          return;
        }
        let newValue = this.field.fields ? {} : null;
        this.fieldValue.push(newValue);
        this.rows.push(this.getRowFields(this.fieldValue.length - 1));
      },
      removeRow(i) {
        if (this.isDisabled) {
          return;
        }
        this.fieldValue.splice(i, 1);
        this.filledRows();
      },
      getRowFields(i) {
        let rowFields = [];

        if (this.isSingleField) {
          rowFields = cloneDeep([this.field.field])
          for (let fieldConfig of rowFields) {
            fieldConfig.attribute = `${this.field.attribute}.${i}`;
            fieldConfig.disabled = this.field.disabled;
            fieldConfig.readonly = this.field.readonly;
          }
        } else {
          rowFields = cloneDeep(this.field.fields)
          for (let fieldConfig of rowFields) {
            fieldConfig.attribute = `${this.field.attribute}.${i}.${fieldConfig.attribute}`;
            fieldConfig.disabled = this.field.disabled;
            fieldConfig.readonly = this.field.readonly;
          }
        }
        return new FieldList(rowFields, this.errors);
      },
      filledRows() {
        this.rows = [];
        if (this.fieldValue.length) {
          for (let i in this.fieldValue) {
            this.rows.push(this.getRowFields(i));
          }
        }
      }
    }
  }
</script>

<style scoped>
  .single-field >>> .form-group > label {
    display: none;
  }
  .form-row{
    position: relative;
    padding-left: 25px;
    background-color: #fff;
  }
  .form-row .grag_n_drop{
    position: absolute;
    width: 15px;
    background-color: #dadada;
    height: 100%;
    display: block;
    left: 0;
    top: 0;
  }
  .form-row .grag_n_drop:before{
    content: "";
    position: absolute;
    left: 7.5px;
    width: 2px;
    background-color: #b7b3b3;
    height: 50%;
    top: 25%;
  }

</style>
