<template>
  <component
    :is="layoutComponent"
    v-bind="layoutProps"
    v-if="show">
    <template slot="field">
      <textarea
        :id="field.attribute"
        :cols="inputCols"
        :rows="inputRows"
        :maxlength="inputMaxlength"
        v-model="fieldValue"
        :class="['form-control', errorClasses, depends ? 'depend-textarea' : '']"
        :placeholder="inputPlaceholder"
        :readonly="isReadonly"
        :disabled="isDisabled"
        v-bind="field.attrs">
      </textarea>
    </template>
  </component>
</template>

<script>
  import { FieldMixin } from '../mixins';
  import compact from 'lodash-es/compact'
  import values from 'lodash-es/values'

  export default {
    name: 'FormTextareaField',

    mixins: [FieldMixin],

    props: {
      placeholder: {},
      cols: {},
      rows: {},
      maxlength: {},
    },
    data() {
      return {
        show: true,
        depends: false
      }
    },
    computed: {

      /**
       * Get the input placeholder.
       */
      inputPlaceholder() {
        return this.placeholder || this.field.placeholder
      },

      /**
       * Get the textarea cols.
       */
      inputCols() {
        return this.cols || this.field.cols
      },

      /**
       * Get the textarea rows.
       */
      inputRows() {
        return this.rows || this.field.rows
      },

      /**
       * Get the textarea maxlength.
       */
      inputMaxlength() {
        return this.maxlength || this.field.maxlength
      },
    },
    methods: {
      handleDependentChange(attribute, value, allValues) {
        if(!value){
          value = compact(values(allValues))[0];
        }
        if(value){
          if(this.field.condition){
            if(!attribute && Object.keys(this.field.condition)[0])
              attribute = Object.keys(this.field.condition)[0]
            if(this.field.condition[attribute] && this.field.condition[attribute] == value){
              this.show = true;
              this.depends = true;
            }else{
              this.show = false;
              this.depends = true;
            }
          }else{
            this.show = true;
            this.depends = true;
          }
        }else{
          this.show = false;
          this.depends = true;
        }
      },
    }
  }
</script>
