<template>
  <component
    :is="layoutComponent"
    v-if="show"
    v-bind="layoutProps">
    <template slot="field">
      <input
        :id="field.attribute"
        :type="inputType"
        :min="inputMin"
        :max="inputMax"
        :step="inputStep"
        :pattern="inputPattern"
        v-model="fieldValue"
        class="form-control"
        :class="[depends ? 'depend-input' : '', errorClasses]"
        :placeholder="inputPlaceholder"
        :readonly="isReadonly"
        :disabled="isDisabled"
        :autocomplete="autocomplete"
        v-bind="field.attrs"/>
    </template>
  </component>
</template>

<script>
  import { FieldMixin } from '../mixins';
  import compact from 'lodash-es/compact'
  import values from 'lodash-es/values'

  export default {
    name: 'FormTextField',

    mixins: [FieldMixin],

    props: {
      placeholder: {},
      step: {},
      min: {},
      max: {},
      pattern: {},
    },

    data() {
      return {
        show: true,
        depends: false
      }
    },
    computed: {
      /**
       * Get the input type.
       */
      inputType() {
        return this.field.type || 'text'
      },

      /**
       * Get the input placeholder.
       */
      inputPlaceholder() {
        return this.placeholder || this.field.placeholder
      },

      /**
       * Get the input step amount.
       */
      inputStep() {
        return this.step || this.field.step
      },

      /**
       * Get the input minimum amount.
       */
      inputMin() {
        return this.min || this.field.min
      },

      /**
       * Get the input maximum amount.
       */
      inputMax() {
        return this.max || this.field.max
      },

      autocomplete() {
        return this.field.autocomplete || 'off'
      },

      /**
       * Get the pattern that should be used for the field
       */
      inputPattern() {
        return this.pattern || this.field.pattern
      },
    },

    methods: {
      sanitizeValue(value) {
        if (this.field.type === 'number') {
          return Number(value);
        }

        return value;
      },
      handleDependentChange(attribute, value, allValues) {
        if(!value){
          value = compact(values(allValues))[0];
        }
        if(value){
          if(this.field.condition){
            if(!attribute && Object.keys(this.field.condition)[0])
              attribute = Object.keys(this.field.condition)[0]
            if(this.field.condition[attribute] && this.field.condition[attribute] == value){
              this.show = true;
              this.depends = true;
            }else{
              this.show = false;
              this.depends = true;
            }
          }else{
            this.show = true;
            this.depends = true;
          }
        }else{
          this.show = false;
          this.depends = true;
        }
      },
    },
  }
</script>
