<template>
  <component
      :is="layoutComponent"
      v-bind="layoutProps">
    <template slot="field">
      <div class="kwr_list">
        <div v-for="(input, index) in inputs" :key="index" class="kwr_item form-group">
          <div class="kwr_keyword">
            <input
                class="form-control"
                v-model="input.keyword"
                type="text"
                @dblclick="resetKeys"
                @click="copyKeyword(input.keyword, $event)"
                readonly>
          </div>
          <div class="kwr_value">
            <input
                class="form-control"
                :placeholder="$t('general.type_keyword')"
                v-model="input.value"
                @focusout="saveField"
                type="text">
            <span
                v-show="input.value !== '' && inputs.length - 1 !== index"
                class="kwr_remove"
                @click="removeRow(index)">
              <span class="gg-remove-r"/>
            </span>
          </div>
          <span
              class="kwr_add"
              @click="addRow($event)"
              v-show="input.value === '' || inputs.length - 1 === index">
            <span class="gg-add-r"/>
          </span>
        </div>
      </div>
    </template>
  </component>
</template>

<script>
import { FieldMixin } from '../mixins';

export default {
  name: "KeywordRepeaterField",
  mixins: [FieldMixin],

  props: {
    cols: {},
    rows: {},
    maxlength: {},
  },
  data() {
    return {
      inputs: [{
        keyword: "{{keyword_1}}",
        value: ""
      }],
    }
  },
  mounted() {
    if(this.fieldValue && typeof this.fieldValue === 'object') this.inputs = this.fieldValue;
    else{
      this.inputs[0].value = this.fieldValue;
    }
  },
  methods: {
    resetKeys() {
      let index = 1
      this.inputs.forEach((el, i) => {
        this.inputs[i].keyword = "{{keyword_" + index + "}}"
        index++;
      })
    },
    copyKeyword(keyword, e) {
      e.target.select();
      document.execCommand("copy");
      this.$toast.info(this.$t("general.copy_clipboard"));
    },
    addRow(e) {
      if(this.inputs.length >= 1 && this.inputs.slice(-1)[0].value){
        this.inputs.push({
          keyword: "{{keyword_" + (this.inputs.length + 1) + "}}",
          value: ""
        })
      }else{
        e.target.parentNode.previousSibling.firstChild.focus();
      }
    },
    removeRow(index) {
      if(this.inputs.length < 2) return;
      if (index > -1) {
        this.inputs.splice(index, 1);
      }
    },
    saveField() {
      this.fieldValue = this.inputs;
    }
  }
};
</script>

<style>
.kwr_list{
  border: 1px solid #dadada;
  padding: 10px 20px;
}
.kwr_list .kwr_item{
  margin: 0 -5px 10px;
  padding: 0 45px 0 0;
  position: relative;
  display: flex;
}
.kwr_list .kwr_item .kwr_keyword,
.kwr_list .kwr_item .kwr_value{
  width: 50%;
  padding: 0 5px;
}
.kwr_list .kwr_item .kwr_add,
.kwr_list .kwr_item .kwr_remove{
  position: absolute;
  cursor: pointer;
  right: 0;
  top: 0;
}
.kwr_list .kwr_item .kwr_remove .gg-remove-r,
.kwr_list .kwr_item .kwr_add .gg-add-r {
  width: 34px;
  height: 34px;
  border: 2px solid #2196F3;
  box-sizing: border-box;
  position: relative;
  display: block;
  border-radius: 4px
}
.kwr_list .kwr_item .kwr_remove .gg-remove-r::before,
.kwr_list .kwr_item .kwr_add .gg-add-r::before,
.kwr_list .kwr_item .kwr_add .gg-add-r::after{
  background-color: #2196F3;
}

.kwr_list .kwr_item .kwr_remove .gg-remove-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 22px;
  height: 2px;
  border-radius: 5px;
  top: 14px;
  left: 4px
}
.kwr_list .kwr_item .kwr_add .gg-add-r::after,
.kwr_list .kwr_item .kwr_add .gg-add-r::before {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  width: 20px;
  height: 2px;
  border-radius: 5px;
  top: 14px;
  left: 4px
}
.kwr_list .kwr_item .kwr_add .gg-add-r::after {
  width: 2px;
  height: 20px;
  top: 5px;
  left: 13px;
}
.kwr_list .kwr_item button {
  background: none;
  border: none;
}
</style>
