<template>
  <component :is="layoutComponent" v-bind="layoutProps">
    <template slot="field">
      <div>
        <input
            :id="field.attribute"
            ref="input"
            v-model="attachList"
            :class="errorClasses"
            :multiple="field.multiple || false"
            :accept="field.mimeTypes || 'image/png,image/gif,image/jpeg,image/webp,image/svg+xml'"
            :disabled="isDisabled"
            v-bind="field.attrs"
            type="hidden"/>
      </div>

      <div class="field_attachment">
          <draggable
              v-model="attachList"
              :options="{handle: '.attachment_item'}"
              @end="setMediaValue">
          <template v-for="media in attachList">
            <div
              v-if="attachList.length"
              :key="media.id"
              class="attachment_wr attachment_item"
              :title="media.filename">
                <img
                    :src="media.thumb"
                    :alt="media.filename"
                    @click="
                    $bvModal.show('modal_' + field.attribute);
                    onEdit = true;"/>
                <span
                    :title="$t('media.remove_attach')"
                    @click="clearAttach(media.id)">✕</span>
              </div>
            </template>
            <div
                v-if="field.multiple || !attachList.length"
                :title="$t('media.add_attach')"
                class="attachment_wr add_attach"
                @click="$bvModal.show('modal_' + field.attribute)">+</div>
          </draggable>
      </div>

      <b-modal
          :id="'modal_' + field.attribute"
          :ref="'modal_' + field.attribute"
          :title="$t('media.modal_title')"
          :ok-only="true"
          :ok-title="$t('media.ok_btn')"
          centered
          size="lg"
          @show="onShowModal"
          @ok="setImage">
        <b-tabs v-model="tabIndex" content-class="mt-3 media-modal">
          <b-tab :title="$t('media.tabs.upload_files')" active>
            <table
              v-if="files.length"
              class="table table-striped table-condensed"
              >
              <thead class="thead-light">
                <tr>
                  <th>{{ $t("media.column_name") }}</th>
                  <th class="text-right">{{ $t("media.column_size") }}</th>
                  <th class="text-right">{{ $t("media.column_progress") }}</th>
                  <th>{{ $t("media.column_status") }}</th>
                </tr>
              </thead>
              <tbody>
                <template v-for="file in files">
                  <tr :key="file.name">
                    <td>{{ file.name }}</td>
                    <td class="text-right">{{ formatSize(file.size) }}</td>
                    <td class="text-right">{{ file.progress }}%</td>

                    <td v-if="file.error">{{ file.error }}</td>
                    <td v-else-if="file.success">
                      {{ $t("media.status.success") }}
                    </td>
                    <td v-else-if="file.active">
                      {{ $t("media.status.active") }}
                    </td>
                    <td v-else>-</td>
                  </tr>
                </template>
              </tbody>
            </table>
            <div class="upload-btn">
              <p class="help-text">
                {{
                  $t("media.tabs.allowed_files") +
                    allowedExtension.map(el => "." + el).join(", ")
                }}
              </p>
              <file-upload
                  ref="upload"
                  v-model="files"
                  :thread="1"
                  :headers="media_params.headers"
                  :post-action="media_params.upload_route"
                  :timeout="600 * 1000"
                  :multiple="true"
                  :size="1024 * 1024 * 10"
                  :extensions="allowedExtension.join(',')"
                  accept="image/png,image/gif,image/jpeg,image/webp,image/svg+xml"
                  class="btn btn-primary"
                  @input-filter="inputFilter"
                  @input-file="inputFile">
                <i class="fa fa-plus"></i>
                {{ $t("media.select_files") }}
              </file-upload>
            </div>
          </b-tab>
          <b-tab
              :title="$t('media.tabs.media_library')"
              :class="{ preload: preload }">
            <ul
                ref="media_list"
                class="media-library"
                :class="{ media_list_offset: mediaAttrShow }">
              <template v-for="media in medias">
                <li :key="media.id" :class="{ selected: media.selected }">
                  <div
                      class="attachment-preview"
                      @click="selectMedia(media.id)">
                    <div class="thumbnail" :style="media.angle != 0 ? 'transform: rotate(' + media.angle + 'deg)' : ''">
                      <div class="centered">
                        <img :src="media.thumb" :alt="media.filename" />
                      </div>
                    </div>
                    <div class="thumbnail_detail">
                      <span>{{ $t("media.filename") }}:
                        <strong>{{ media.filename }}</strong>
                      </span>
                      <span>{{ $t("media.filesize") }}:
                        <strong>{{ formatSize(media.size) }}</strong>
                      </span>
                      <span>{{ $t("media.fileid") }}:
                        <strong>{{ media.id }}</strong>
                      </span>
                      <span>{{ $t("media.filetype") }}:
                        <strong>{{ media.aggregate_type }}</strong>
                      </span>
                      <span>{{ $t("media.filedim") }}:
                        <strong>{{ media.width }}x{{ media.height }}</strong>
                      </span>
                      <span v-if="media.alt">{{ $t("media.alt") }}:
                        <strong>{{ media.alt }}</strong>
                      </span>
                    </div>
                  </div>
                  <button
                      type="button"
                          class="check rotate"
                          @click="rotateMedia(media.id)"
                  >
                    <span class="media-modal-icon"><i class="bi bi-arrow-clockwise"></i></span>
                    <span class="screen-reader-text">{{
                  $t("media.media_rotate")
                }}</span>
                  </button>
                  <button
                      type="button"
                      class="check"
                      @click="deselectMedia(media.id)">
                    <span class="media-modal-icon"></span>
                    <span class="screen-reader-text">{{
                        $t("media.media_deselect")
                      }}</span>
                  </button>
                  <button
                      type="button"
                      class="check delete"
                      @click="deleteMedia(media.id)">
                    <span class="media-modal-icon"></span>
                    <span class="screen-reader-text">{{
                        $t("media.media_delete")
                      }}</span>
                  </button>
                </li>
              </template>
            </ul>
            <div v-show="mediaAttrShow" class="media-attributes">
              <div class="columns">
                <div v-show="false" class="form-group">
                  <input
                      v-model="mediaAttr.title"
                      type="text"
                      :placeholder="$t('media.title')"
                      class="form-control"
                      @keydown="updateMediaAttr($event, 'title')"/>
                </div>
                <div class="form-group">
                  <input
                    :value="mediaAttr.alt || mediaAttrShow.alt"
                      type="text"
                      :placeholder="$t('media.alt')"
                      class="form-control"
                      @keydown="updateMediaAttr($event, 'alt')"/>
                  </div>
              </div>
            </div>
            <div v-show="preload" class="loader">{{ $t("media.loading") }}</div>
            <div class="wrap_search">
              <input
                  ref="searchField"
                  v-model="searchField"
                  :readonly="preload"
                  type="text"
                  class="form-control"
                  :placeholder="$t('media.search_field')"
                  @keydown="debounceInput"/>
            </div>
          </b-tab>
        </b-tabs>
      </b-modal>
    </template>
  </component>
</template>

<script>
import FieldMixin from '../mixins/FieldMixin';
import VueUploadComponent from "vue-upload-component";
import Vue from "vue";
import { debounce } from "debounce";
import draggable from 'vuedraggable';
import assign from 'lodash-es/assign'

export default {
  name: "FormMediaField",
  components: {
    FileUpload: VueUploadComponent,
    draggable
  },
  mixins: [FieldMixin],

  data() {
    return {
      media_params: {
        headers: {},
        upload_route: "",
        list_route: "",
        delete_route: "",
        bulkDelete_route: ""
      },
      media_extens: [
        'image/jpeg',
        'image/png',
        'image/jpg',
        'image/svg+xml',
        'image/svg',
        'image/gif',
        'image/webp',
      ],
      headers: {},
      medias: [],
      custom_file: true,
      selected: [],
      files: [],
      preload: false,
      attachList: [],
      selectionOrder: 0,
      listOffset: 0,
      stopList: false,
      tabIndex: 1,
      searchField: "",
      mediaAttrShow: false,
      onEdit: false,
      mediaAttr: {
        title: "",
        alt: ""
      },
      allowedExtension: ["jpeg", "png", "jpg", "webp", "svg", "gif"],
      baseURL: ""
    };
  },
  computed: {},
  watch: {
    medias: {
      deep: true,
      handler() {}
    },
    tabIndex: function(index) {
      if (index === 1) {
        setTimeout(() => {
          this.$refs["searchField"].focus();
        }, 200);
      }
    }
  },
  created() {
    this.media_params.headers = Vue.$http.defaults.headers.common;
    this.media_params.upload_route = `${Vue.$http.defaults.baseURL}media/upload`;
    this.media_params.list_route = `/media/list`;
    this.media_params.delete_route = `/media/delete`;
    this.media_params.rotate_route = `/media/rotate`;
    this.media_params.bulkDelete_route = `/media/bulk-delete`;
    if (this.fieldValue && this.fieldValue.length) {
      this.fieldValue.forEach(el => {
        this.attachList.push(el);
      });
    }
  },
  mounted() {
    if (this.field.allowedExptensions) {
      this.allowedExtension = this.field.allowedExptensions;
    }
  },
  methods: {
    debounceInput: debounce(function(e) {
      this.searchField = e.target.value;
      this.getMediaList(true).then(() => {
        e.target.focus();
      });
    }, 500),
    updateMediaAttr: debounce(function(e, method) {
      this.mediaAttrShow[method] = e.target.value;
    }, 200),
    onShowModal() {
      this.files = [];
      this.medias = [];
      this.searchField = "";
      this.listOffset = 0;
      this.stopList = false;
      this.getMediaList();
      this.$nextTick(function() {
        if (this.$refs["media_list"] && !this.$listeners.scroll) {
          this.$refs["media_list"].addEventListener(
              "scroll",
              this.lazyLoadImages
          );
        }
      });
    },
    getMediaList(refresh) {
      if (this.stopList) return false;
      this.preload = true;
      var params = {
        offset: this.listOffset
      };
      if (this.searchField) {
        params.search = this.searchField;
      }
      return new Promise(resolve => {
        this.$http
            .get(this.media_params.list_route, {
              params: params
            })
            .then(response => {
              this.selectionOrder = 0;
              if (this.medias.length && !refresh) {
                if (response.data.length) {
                  this.medias = this.medias.concat(response.data);
                } else {
                  this.stopList = true;
                }
              } else this.medias = response.data;
              // Set selected els
              this.medias.forEach((el, i) => {
                this.medias[i].angle = 0;
                this.attachList.forEach(sel => {
                  if (el.id === parseInt(sel.id)) {
                    this.medias[i].selected = true;
                    this.medias[i].order = sel.order ?? this.selectionOrder;
                    this.selectionOrder = Math.max(
                        this.selectionOrder,
                        this.medias[i].order + 1
                    );
                  }
                });
              });
            if (this.files.length) {
              this.medias.slice(0, this.files.length).forEach((el, i) => {
                el.selected = true;
              });
            }
            this.$refs["searchField"].focus();
              resolve();
            });
      }).then(() => {
        this.$refs["searchField"].focus();
        this.preload = false;
      });
    },
    deleteMedia(id) {
      const pt = confirm(this.$t("media.confirm_delete"));
      if (pt) {
        this.$http
            .post(this.media_params.delete_route, {
              id: id
            })
            .then(response => {
              if (response.data.success) {
                this.medias.forEach((el, i) => {
                  if (el.id === id) {
                    this.medias.splice(i, 1);
                  }
                });
              }
            });
      }
    },
    rotateMedia(id) {
      let angle = 90;
      let index = 0;
      this.medias.forEach((el, i) => {
        if (el.id === id) {
          this.medias[i].angle += 90;
          index = i;
        }
      });
      this.$http
        .post(this.media_params.rotate_route, {
          id: id,
          angle: angle
        })
        .then(response => {
          if (response.data.success) {
            this.medias[index] = response.data.data;
            this.selectMedia(id);
          }
        });
    },
    bulkDeleteMedia() {},
    searchMedia() {},
    setImage() {
      this.custom_file = false;
      this.attachList = this.getSelectedImages();
      this.setMediaValue();
    },
    setMediaValue() {
      this.fieldValue = this.attachList;
    },
    clearAttach(id) {
      this.attachList.forEach((el, i) => {
        if (el.id === id) this.attachList.splice(i, 1);
      });
      this.fieldValue = this.attachList;
      if (!this.fieldValue.length) this.custom_file = true;
    },
    isSelected(id) {
      let tr = false;
      this.attachList.forEach(el => {
        if (el.id === id) {
          tr = true;
        }
      });
      return tr;
    },
    getSelectedImages() {
      let ids = [];
      this.medias.forEach((el, i) => {
        if (this.medias[i].selected) ids.push(el);
      });
      ids.sort((a, b) => {
        if (a.order && b.order) {
          return a.order - b.order;
        }

        // first which has order
        return a.order || -(b.order || 0);
      });

      // reset it  cause this.selectionOrder continually grow
      let order = 0;
      ids.forEach(el => (el.order = order++));

      return ids;
    },
    selectMedia(id) {
      this.mediaAttr = {
        title: "",
        alt: ""
      };
      this.medias.forEach((el, i) => {
        if (el.id === id) {
          this.medias[i].selected = true;
          this.medias[i].order = this.selectionOrder++;
          if(this.attachList.length){
            this.attachList.forEach((m, x) => {
              if (id === parseInt(m.id)) {
                Object.keys(this.mediaAttr).forEach((attr, v) => {
                  if (this.attachList[x][attr])
                    this.medias[i][attr] = this.attachList[x][attr];
                });
              }
            });
          }
          this.mediaAttrShow = this.medias[i];
        } else {
          if (!this.field.multiple) this.medias[i].selected = false;
        }
      });
    },
    deselectMedia(id) {
      this.mediaAttrShow = false;
      this.medias.forEach((el, i) => {
        if (el.id === id) {
          this.medias[i].selected = false;
        }
      });
    },
    formatSize(size) {
      if (size > 1024 * 1024 * 1024 * 1024) {
        return (size / 1024 / 1024 / 1024 / 1024).toFixed(2) + " TB";
      } else if (size > 1024 * 1024 * 1024) {
        return (size / 1024 / 1024 / 1024).toFixed(2) + " GB";
      } else if (size > 1024 * 1024) {
        return (size / 1024 / 1024).toFixed(2) + " MB";
      } else if (size > 1024) {
        return (size / 1024).toFixed(2) + " KB";
      }
      return size.toString() + " B";
    },
    lazyLoadImages() {
      var scrollHeight = this.$refs["media_list"].scrollHeight - 10; // + padding 5px x2
      var scrollTop = this.$refs["media_list"].scrollTop;
      var offsetHeight = this.$refs["media_list"].offsetHeight;
      if (scrollTop && offsetHeight + scrollTop >= scrollHeight) {
        this.listOffset += 20;
        this.getMediaList();
      }
    },
    allowedExtensions() {
      let tmp = [];
      this.allowedExtension.forEach(ext => {
        tmp.push(ext.toLowerCase());
        tmp.push(ext.toUpperCase());
      });
      return tmp.join("|");
    },
    inputFilter(newFile, oldFile, prevent) {
      if (newFile && !oldFile) {
        if (
          !new RegExp(`^.*\.(${this.allowedExtensions()})$`).test(
            newFile.name
          ) ||
          /(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name) ||
          /\.(php5?|html?|jsx?)$/i.test(newFile.name)
        ) {
          this.$alert.error(this.$t("media.messages.not_allowed_file"));
          return prevent();
        }
      }
    },
    inputFile(newFile, oldFile) {
      if (newFile && !oldFile) {
        newFile.active = true;
        new Promise(resolve => {
          if (newFile.success) {
            resolve(newFile);
          }
        });
      }
      if (newFile && oldFile) {
        // update
      }
      if (!newFile && oldFile) {
        // remove
        this.getMediaList(true);
      }
      if (this.$refs.upload.uploaded) {
        if (this.$refs.upload.active) {
          this.getMediaList(true).then(() => {
            this.tabIndex = 1;
          });
        }
      }
      if (
        Boolean(newFile) !== Boolean(oldFile) ||
        oldFile.error !== newFile.error
      ) {
        if (!this.$refs.upload.active) {
          this.$refs.upload.active = true;
        }
      }
    }
  }
};
</script>

<style scoped>
.field-attachments {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 0 !important;
  border: 1px solid #ddd;
}
.field-attachments /deep/ img {
  max-height: 50px;
  margin: 0 !important;
  float: left;
  display: block;
}
.field-attachments /deep/ .field-attachment {
  position: relative;
  width: 100%;
  padding: 3px !important;
}
.field-attachments .field-attachment /deep/ button.close {
  position: absolute;
  right: 10px;
  top: 0;
  bottom: 0;
  height: 23px;
  margin: auto;
  background-color: #d2263e !important;
  padding: 1px 6px;
}
.field-attachments /deep/ .field-attachment.bg-light {
  background-color: #e4e4e4 !important;
}
.field-attachments /deep/ .field-attachment .d-block {
  display: none !important;
}

.field-attachments /deep/ .field-attachment .field-attachment-preview > div,
.field-attachments /deep/ .field-attachment .field-attachment-preview > a {
  float: left;
  padding: 0 10px;
}
.media-library {
  padding: 5px;
  margin: 0 -8px;
  list-style: none;
  max-height: 340px;
  overflow: auto;
  position: relative;
  min-height: 150px;
}
.tab-pane.preload {
  overflow: hidden;
}
.tab-pane.preload:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.6);
}
.tab-pane.preload:after {
  content: "";
}
.media-library li {
  padding: 10px;
  width: 140px;
  height: 140px;
  position: relative;
  float: left;
  margin: 0;
  color: #3c434a;
  cursor: pointer;
  list-style: none;
  text-align: center;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
}
.media-library li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}
.media-library li .attachment-preview {
  position: relative;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1),
  inset 0 0 0 1px rgba(0, 0, 0, 0.5);
  background: #f0f0f1;
  cursor: pointer;
}
.media-library li .attachment-preview .thumbnail {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
  transition: opacity 0.1s;
}
.media-library li .attachment-preview .centered {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(50%, 50%);
}
.media-library li .attachment-preview:before {
  content: "";
  display: block;
  padding-top: 100%;
}
.media-library li .attachment-preview .thumbnail:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
.media-library li.selected {
  box-shadow: inset 0 0 0 3px #fff, inset 0 0 0 7px #2271b1;
}
.media-library li button.check {
  display: none;
  height: 24px;
  width: 24px;
  padding: 0;
  border: 0;
  position: absolute;
  z-index: 10;
  top: 0;
  right: 0;
  outline: 0;
  background: #f0f0f1;
  cursor: pointer;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px rgba(0, 0, 0, 0.15);
}
.media-library li .check .media-modal-icon:before {
  content: "";
  display: block;
  height: 15px;
  width: 15px;
  margin: 5px;
  color: #fff;
  font-size: 14px;
  line-height: 15px;
  font-weight: bold;
}
.media-library li.selected .check .media-modal-icon:before {
  content: "\2713";
}
.media-library li.selected .check:hover .media-modal-icon:before {
  content: "-";
}
.media-library li button.check.delete,
.media-library li button.check.rotate {
  display: none !important;
}
.media-library li:hover button.check.delete,
.media-library li:hover button.check.rotate {
  display: block !important;
}
.media-library li .check.rotate .media-modal-icon:before {
  content: "\21BB";
}
.media-library li.selected .check.rotate:hover .media-modal-icon:before {
  content: "\21BB";
}
.media-library li button.check.rotate {
  bottom: auto;
  left: 0;
  background-color: #d2263e !important;
}
.media-library li button.check.delete {
  bottom: 0;
  top: auto;
  background-color: #d2263e !important;
}
.media-library li .check.delete .media-modal-icon:before {
  content: "x";
}
.media-library li .screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  word-wrap: normal !important;
}
.media-library li.selected button.check {
  display: block;
  background-color: #2271b1;
  box-shadow: 0 0 0 1px #fff, 0 0 0 2px #2271b1;
}
.upload-btn {
  text-align: center;
  padding: 30px 0 0;
}
.media-library li .thumbnail_detail {
  background-color: rgba(255, 255, 255, 0.6);
  color: #333;
  font-size: 10px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  text-align: left;
  padding: 5px;
  line-height: 12px;
  opacity: 0;
  transition: all 0.2s ease-out;
  overflow: hidden;
}
.media-library li .thumbnail_detail span {
  display: block;
  word-break: break-all;
  padding-bottom: 3px;
}
.media-library li:hover .thumbnail_detail {
  opacity: 1;
}
.field_attachment > div {
  margin: 0 -5px;
  padding: 0;
  list-style: none;
}
.field_attachment .attachment_wr {
  border: 1px solid #3e4b58;
  height: 70px;
  width: 70px;
  padding: 3px;
  text-align: center;
  position: relative;
  margin: 5px;
  display: inline-block;
  vertical-align: middle;
}
.field_attachment .attachment_wr img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  cursor: move;
}
.field_attachment .attachment_wr span {
  display: none;
  height: 22px;
  width: 22px;
  position: absolute;
  right: 3px;
  top: 3px;
  background-color: red;
  color: #fff;
  cursor: pointer;
  border-radius: 50%;
}
.field_attachment .attachment_wr:hover span {
  display: block;
}
.field_attachment .add_attach {
  font-size: 40px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: #2196f3;
  font-size: 10px;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
  position: absolute;
  bottom: 55px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2;
}
.loader:before,
.loader:after {
  content: "";
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.wrap_search {
  position: absolute;
  bottom: -55px;
  min-width: 300px;
}
.wrap_search input {
}
.media-attributes {
  position: absolute;
  background-color: #fff;
  width: 100%;
  padding: 15px 0;
  right: 0;
  bottom: 0px;
  height: 65px;
  z-index: 11;
}
.media-attributes .columns {
  margin: 0 -15px;
}
.media-attributes .columns > div {
  padding: 0 15px;
}
/deep/ .media-modal .tab-pane {
  position: relative;
}
.media-library.media_list_offset {
  padding-bottom: 65px;
}
.help-text {
  text-align: center;
  color: #747474;
  margin: 15px 0;
}
</style>
